  $music-x: 5px;
  $music-y: 5px;
  $music-offset-x: -5px;
  $music-offset-y: -5px;
  $music-width: 18px;
  $music-height: 19px;
  $music-total-width: 30px;
  $music-total-height: 83px;
  $music-image: 'dist/image/sprites.png';
  $music: 5px 5px -5px -5px 18px 19px 30px 83px 'dist/image/sprites.png';
  $share-x: 5px;
  $share-y: 34px;
  $share-offset-x: -5px;
  $share-offset-y: -34px;
  $share-width: 19px;
  $share-height: 17px;
  $share-total-width: 30px;
  $share-total-height: 83px;
  $share-image: 'dist/image/sprites.png';
  $share: 5px 34px -5px -34px 19px 17px 30px 83px 'dist/image/sprites.png';
  $zan-x: 5px;
  $zan-y: 61px;
  $zan-offset-x: -5px;
  $zan-offset-y: -61px;
  $zan-width: 20px;
  $zan-height: 17px;
  $zan-total-width: 30px;
  $zan-total-height: 83px;
  $zan-image: 'dist/image/sprites.png';
  $zan: 5px 61px -5px -61px 20px 17px 30px 83px 'dist/image/sprites.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
